<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="loans" src="{{ "/assets/img/loans.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Loan Credibility Prediction </h3>
    <ul>
      <li> About</li>
    </ul>
    <p>A Machine Learning app for predicting the credibility of loan applicants, if their applications would be granted or not.</p>
    <a class="project-link" href="https://github.com/bosunolaide/loan_credibility_prediction_ml">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="rick_and_morty" src="{{ "/assets/img/rick_and_morty.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Rick and Morty (Retrofit/RecyclerView) </h3>
    <ul>
      <li> About</li>
    </ul>
    <p>An Android app that uses the Retrofit library to display Rick and Morty characters in RecyclerView.</p>
    <a class="project-link" href="https://github.com/bosunolaide/Rick_and_Morty">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="warehouse" src="{{ "/assets/img/warehouse.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Warehouse Products Shipments</h3>
    <ul>
      <li> About</li>
    </ul>
    <p>An Exploratory Data Analysis on warehouse products shipments.</p>
    <a class="project-link" href="https://github.com/bosunolaide/Exploratory-Data-Analysis-on-Warehouse-Products-Shipment">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="contacts" src="{{ "/assets/img/contacts.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Contacts List (Room DB/RecyclerView) </h3>
    <ul>
      <li> About</li>
    </ul>
    <p>An Android app that stores and displays phone contacts using Room Database library and RecyclerView. It also features a signup and login page, and stores registered users in the Room Database.</p>
    <a class="project-link" href="https://github.com/bosunolaide/contact_list_room_database">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="construction" src="{{ "/assets/img/construction.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Building Permits Approval</h3>
    <ul>
      <li> About</li>
    </ul>
    <p>An Exploratory Data Analysis on building permits applied for, and approved.</p>
    <a class="project-link" href="https://github.com/bosunolaide/Exploratory-Data-Analysis-on-Building-Permits">Check it out</a>
  </div>
</div>