<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="loans" src="{{ "/assets/img/loans.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Loan Credibility Prediction </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/bosunolaide/loan_credibility_prediction_ml">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="rick_and_morty" src="{{ "/assets/img/rick_and_morty.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Rick and Morty (Retrofit) </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/bosunolaide/Rick_and_Morty">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="warehouse" src="{{ "/assets/img/warehouse.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Warehouse Products Shipment</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/bosunolaide/Exploratory-Data-Analysis-on-Warehouse-Products-Shipment">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="contacts" src="{{ "/assets/img/contacts.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Contacts List (Room DB) </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/bosunolaide/contact_list_room_database">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="construction" src="{{ "/assets/img/construction.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Building Permits </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/bosunolaide/Exploratory-Data-Analysis-on-Building-Permits">Check it out</a>
  </div>
</div>